<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman Game</title>
    <link href="/static/game.css" rel="stylesheet" />
  </head>
  <body>
    <div class="game">
      <h1>Hangman Game</h1>
      <p>
        The footballer you are guessing has {{actual_word|length}} letters and
        is : {{ display_word }}
      </p>
      <p>You have {{ guess }} attempts remaining.</p>
      <form method="POST" action="/play">
        <input type="hidden" name="actual_word" value="{{ actual_word }}" />
        <input type="hidden" name="display_word" value="{{ display_word }}" />
        <input type="hidden" name="word_set" value="{{ word_set }}" />
        <input type="hidden" name="guess" value="{{ guess }}" />
        <label for="letter">Guess a letter:</label>
        <input type="text" id="letter" name="letter" maxlength="1" required />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="message">
      {% if message %}
      <p>{{ message }}</p>
      {% endif %} {% if flag == True %}
      <form action="/game" method="POST">
        <button type="submit">Click here to play again</button>
      </form>
      {% endif %}
    </div>
  </body>
</html>
