<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero">
      <h1>This is a food blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id reiciendis
        animi debitis eveniet, nemo, voluptas repellat error eos eum ipsum
        nostrum non doloribus, sapiente asperiores quidem beatae maiores
        distinctio aperiam.
      </p>
    </div>
    <div></div>
  </body>
</html>
